* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*###### FUENTES ######
font-family: 'Brygada 1918', serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Comfortaa', cursive;
font-family: 'Cookie', cursive;
TIPOGRAFIA DE LAS CARDS: Comfortaa 15px
*/

body {
    background-color: #fff;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    text-decoration: none;
    list-style: none;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.home-data {
    margin-top: 1.5rem;
    color: #fcf8f8;
}

.navbar {
    height: auto;
    padding: 20px;
}

.navbar-nav .nav-link {
    margin: 20px;
}

.nav-item a:hover {
    font-size: 20px;
    color: #010101;
    cursor: pointer;
    transition: all 0.1s;
}

.contain-transparency {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(5, 7, 12, 0.26), rgba(5, 7, 12, 0.26));
    display: flex;
    justify-content: center;
    align-items: center;
    color: #010101;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#titular-principal {
    font-family: 'Bebas Neue', cursive;
    font-size: 2.8rem;
    line-height: 1.3;
    color: #fcf8f8;
}

.home-description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: 2.5rem;
}

.home-button,
.home-button2 {
    font-size: 18px;
    font-family: sans-serif;
    background: #cc0000;
    color: #ffffff;
    display: inline-block;
    padding: 12px 9px 10px;
    border-style: none;
}

.button-checkout {
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
    background: #cc0000;
    color: #ffffff;
    border-radius: 8px;
    padding: 10px 20px;
    transition: 0.4s;
    border-style: none;
}

.button-checkout:hover {
    cursor: pointer;
    background-color: #f1f1f1;
    color: #000000;
    border: 1px solid #cc0000;
}

.home-button:hover {
    cursor: pointer;
    background-color: #f1f1f1;
    color: #000000;
    border: 1px solid #cc0000;
    transition: 0.5s;
}

.titulado {
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulado-text {
    text-align: center;
}

.titulado h2 {
    font-family: 'Kaushan Script', cursive;
    font-size: 48px;
    color: #fcf8f8;
}

.contain-text {
    background-color: #a4161a;
    width: 100%;
    height: 100px;
    margin-top: 20px;
}

.contain-text p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 26px;
    color: #010101;
    text-align: center;
}

.seccion__page {
    width: auto;
    height: 80vh;
    margin-bottom: 26px;
}


/*############ Secciones de la Pagina ##################*/

section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #010101;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-main {
    background-image: url("./images/cookies-2.jpg");
    width: 100%;
    height: 100vh;
}


/*############# CAROUSEL ###########*/

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    background-size: cover;
}

.carousel-caption {
    bottom: 200px;
    padding-left: 100px;
    padding-right: 100px;
}

.carousel-caption h2 {
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    font-size: 80px;
    color: #000000;
}

.carousel-caption h5 {
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    line-height: 1.3;
    color: #fcf8f8;
}

.carousel-caption p {
    font-family: 'Cookie', cursive;
    font-size: 28px;
    top: 2rem;
    padding: 20px;
    color: #010101;
    font-weight: 800;
}


/*######### PRESENTACION #######*/

.container-main2 {
    background-image: url("./images/cookies-6.jpg");
    width: 100%;
    height: 600px;
}

.container-main3 {
    background-image: url("./images/cookies-5.jpg");
    width: 100%;
    height: 100vh;
    display: block;
}

.container-main4 {
    background-image: url("./images/fondoextr.jpg");
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
}

.banner {
    width: 100%;
    height: 400px;
    text-align: center;
    background-color: cadetblue;
}

.carrito i {
    font-size: 30px;
}


/*########## SECCION DE PRODUCTO Y  CARDS ##########*/

.container-product {
    background-image: url("./images/carusel6.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

#products-content {
    margin-top: 5rem;
}

.titular-product {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titular-product h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 3.5rem;
    line-height: 1.3;
    color: #fcf8f8;
}

.titular-product p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: 2.5rem;
    color: #fcf8f8;
}

.container-card {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
}

.card {
    max-width: 540px;
    transition: 0.5s;
}

.card:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}

.card img {
    width: 100%;
    height: 100%;
}

.button-add {
    font-size: 18px;
    font-family: sans-serif;
    background: #cc0000;
    color: #ffffff;
    display: inline-block;
    padding: 12px 9px 10px;
}

.button-add:hover {
    cursor: pointer;
    background-color: #f1f1f1;
    color: #000000;
    border: 1px solid #cc0000;
    transition: 0.5s;
}


/*######### CONTACTO ############*/

.container-contact {
    width: 100%;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-evenly;
}

.contact-transparency {
    width: 100%;
    height: 800px;
    background: linear-gradient(rgba(5, 7, 12, 0.10), rgba(5, 7, 12, 0.10));
    display: flex;
    flex-direction: column;
}

.info-contact h4 {
    color: #fcf8f8;
}

.info-contact p {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.info-contact i {
    font-size: 50px;
}

.contain-redes img {
    width: 36px;
    height: 36px;
}

.contain-redes ul {
    display: flex;
}

.contain-redes ul li {
    padding: 12px;
}

.contain-pay i {
    padding: 12px;
}


/*######### FOOTER ###########*/

.institucional {
    width: 100%;
    height: 500px;
    color: #fff;
    background-color: #010101;
}

.contain-pie {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contain-description .logo {
    padding: 12px;
}

.contain-logos {
    display: flex;
}

.contain-logos li {
    padding: 12px;
}

.contain-logos li img {
    width: 36px;
    height: 36px;
}

.contain-copyright {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    border-top: 1px solid #ccc;
}